In [136]:
import pandas as pd

%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [137]:
# File to Load (Remember to Change These)
csv_file = "google_data.csv"

# Read Purchasing File and store into Pandas data frame
df_google = pd.read_csv(csv_file)
df_google.head()

,query,query_p1,query_p2,query_p3,query_p4,name,site,type,subtypes,category,...,verified,owner_id,owner_title,owner_link,reserving_table_link,booking_appointment_link,location_link,place_id,google_id,reviews_id
0,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,endive Publik house,http://endivepublik.com/,American restaurant,"American restaurant, Restaurant",restaurants,...,True,103972737644730162493,endive Publik house,https://www.google.com/maps/contrib/1039727376...,NaN,NaN,https://www.google.com/maps/place/endive+Publi...,ChIJP3xhn_kE9YgR1V8Sxp6tz2A,0x88f504f99f617c3f:0x60cfad9ec6125fd5,6.975985e+18
1,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,MattChews,http://mattchews.com/,Restaurant,Restaurant,restaurants,...,True,107979649162205133228,MattChews,https://www.google.com/maps/contrib/1079796491...,NaN,NaN,https://www.google.com/maps/place/MattChews/@3...,ChIJd0QZoV8F9YgRxB3Cg2-wfWs,0x88f5055fa1194477:0x6b7db06f83c21dc4,7.745541e+18
2,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,Ferst Place,NaN,Restaurant,Restaurant,restaurants,...,False,NaN,Ferst Place,NaN,NaN,NaN,https://www.google.com/maps/place/Ferst+Place/...,ChIJh9Mbp4kE9YgRQWAfEFurcXM,0x88f50489a71bd387:0x7371ab5b101f6041,8.318618e+18
3,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,Babette's Cafe,http://www.babettescafe.com/,Restaurant,"Restaurant, European restaurant",restaurants,...,True,110839985755015092338,Babette's Cafe,https://www.google.com/maps/contrib/1108399857...,https://www.opentable.com/restaurant/profile/6...,https://www.opentable.com/restaurant/profile/6...,https://www.google.com/maps/place/Babette%27s+...,ChIJZctfsKcG9YgRF22ittOUCq0,0x88f506a7b05fcb65:0xad0a94d3b6a26d17,-5.977802e+18
4,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,Gio’s Chicken Amalfitano,https://littleitalia.com/#restaurants,Italian restaurant,Italian restaurant,restaurants,...,True,108449447271906642963,Gio’s Chicken Amalfitano,https://www.google.com/maps/contrib/1084494472...,NaN,NaN,https://www.google.com/maps/place/Gio%E2%80%99...,ChIJdYenZvIE9YgRH9kn2pjDA58,0x88f504f266a78775:0x9f03c398da27d91f,-6.988527e+18

In [138]:
new_df_google = df_google[["name", "type", "rating", "reviews", "range"]].copy()
new_df_google.drop_duplicates(subset=["name"], inplace=True)

restaurant_google = new_df_google[new_df["type"].str.contains("aurant", regex=True)]
restaurant_google['name'] = restaurant_google["name"].str.replace("^[0-9]+\.\s", "", regex=True)
restaurant_google.rename(columns={"type": "restauran_type", "range": "price"}, inplace=True)
restaurant_google

<ipython-input-138-e8dde7444700>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_google['name'] = restaurant_google["name"].str.replace("^[0-9]+\.\s", "", regex=True)
/Volumes/UsersHome/linglv/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,name,restauran_type,rating,reviews,price
0,endive Publik house,American restaurant,4.9,199.0,$$
1,MattChews,Restaurant,4.9,72.0,$$
2,Ferst Place,Restaurant,4.6,11.0,NaN
3,Babette's Cafe,Restaurant,4.8,383.0,$$$
4,Gio’s Chicken Amalfitano,Italian restaurant,4.5,848.0,$$
...,...,...,...,...,...
324,Garbanzo,Mediterranean restaurant,NaN,NaN,$
327,Mrs Winner's Chicken & Biscuits,Fast food restaurant,3.2,771.0,$
328,Garbanzo Mediterranean Fresh,Fast food restaurant,3.6,386.0,$
338,Mrs. Winner's Chicken & Biscuits-Stockbridge,Chicken restaurant,3.9,1323.0,$
357,Lucky China 8 Chinese Restaurant,Restaurant,2.3,160.0,NaN

In [139]:
restaurant_google.to_csv("google_clean_data.csv")

In [140]:
yelp_csv_file = "yelp_clean_data.csv"

# Read Purchasing File and store into Pandas data frame
restaurant_yelp = pd.read_csv(yelp_csv_file)

In [141]:
restaurant_yelp["lname"] = restaurant_yelp["name"].str.lower()
restaurant_google["lname"] = restaurant_google["name"].str.lower()
restaurant_yelp.sort_values(["lname"], inplace=True)
restaurant_google.sort_values(["lname"], inplace=True)

<ipython-input-141-06a2a2e2c68b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_google["lname"] = restaurant_google["name"].str.lower()
<ipython-input-141-06a2a2e2c68b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_google.sort_values(["lname"], inplace=True)

In [142]:
restaurant_yelp

,Unnamed: 0,name,reviews,price,star,restauran_type,rating,advertised_restrant,lname
0,0,Aerial Kitchen & Bar,NaN,NaN,NaN,"['Bars', 'American (Traditional)']",NaN,yes,aerial kitchen & bar
1,1,Alluvia,6.0,NaN,4.0,"['Steakhouses', 'Mexican']",4.0,yes,alluvia
2,2,Antico Pizza,3216.0,NaN,4.0,['Pizza'],4.0,yes,antico pizza
3,3,Auto Spa Bistro,127.0,NaN,3.0,"['American (New)', 'Car Wash']",3.0,yes,auto spa bistro
4,4,Aviva by Kameel Midtown,40.0,NaN,5.0,"['Mediterranean', 'Middle Eastern']",5.0,yes,aviva by kameel midtown
...,...,...,...,...,...,...,...,...,...
155,155,West Village,NaN,NaN,NaN,['Food Court'],NaN,yes,west village
156,156,Wild Bean Cafe,NaN,NaN,NaN,['Cafes'],NaN,yes,wild bean cafe
157,157,Wildleaf,3.0,NaN,4.5,"['Salad', 'Sandwiches', 'Soup']",4.5,yes,wildleaf
158,158,Wingnuts,120.0,$,3.0,"['Chicken Wings', 'Wraps', 'Sandwiches']",3.0,yes,wingnuts
159,159,Yalla,6.0,NaN,3.0,['Middle Eastern'],3.0,yes,yalla

In [143]:
restaurant_google

,name,restauran_type,rating,reviews,price,lname
127,433 Bishop Event Venue,Restaurant,4.6,50.0,NaN,433 bishop event venue
158,Aamar Indian Cuisine,Indian restaurant,4.3,1050.0,$$,aamar indian cuisine
145,Agave Restaurant,Eclectic restaurant,4.5,1885.0,$$,agave restaurant
163,Ali Baba Mediterranean,Turkish restaurant,4.3,129.0,NaN,ali baba mediterranean
186,American Deli,Chicken wings restaurant,3.9,239.0,$,american deli
...,...,...,...,...,...,...
88,White Oak Kitchen & Cocktails,American restaurant,4.3,967.0,$$$,white oak kitchen & cocktails
121,Willy's Mexicana Grill,Tex-Mex restaurant,4.5,765.0,$,willy's mexicana grill
8,Wisteria,Southern restaurant (US),4.5,462.0,$$$,wisteria
102,Yard House,New American restaurant,4.0,3559.0,$$,yard house
108,ŌAK Atlanta,Restaurant,4.0,515.0,$$,ōak atlanta

In [144]:
df = pd.merge(restaurant_google, restaurant_yelp, on=["name"])

In [145]:
restaurant_google.sort_values(["name"])["name"].to_list()

['433 Bishop Event Venue',
 'Aamar Indian Cuisine',
 'Agave Restaurant',
 'Ali Baba Mediterranean',
 'American Deli',
 'Antico',
 'Atkins Park Restaurant & Bar',
 'Atlanta Breakfast Club',
 'Atlas',
 'Atmosphere Restaurant',
 'Atwoods',
 'Aziza',
 "Babette's Cafe",
 'Baffi Atlanta',
 'Baja Fresh Mexican Grill',
 'Barcelona Wine Bar',
 'Big Easy Grille',
 'Blue Water Food Mart',
 'Bone Garden Cantina',
 'Boogalou Restaurant & Lounge',
 'Burger King',
 'Cafe Agora',
 'Cafe Apple',
 'Cafe Sunflower Buckhead',
 'Café Intermezzo - Midtown',
 'Campagnolo Restaurant + Bar',
 "Carolyn's Gourmet Cafe and Catering",
 'Catch 12',
 'Chattahoochee Food Works',
 'Cheetah Lounge/ Alluvia Restaurant',
 'Chick-fil-A',
 "Chili's Grill & Bar",
 'Chipotle Mexican Grill',
 'City Winery',
 'Concessions Paschals',
 'Cook Out',
 'Cooks & Soldiers',
 'Crave Restaurant Atlanta',
 'Cultivate Food and Coffee',
 'Curry Up Now',
 'Dairy Queen',
 'Deja Vu Sports Bar & Lounge',
 'Der Biergarten',
 'DrinkShop',
 'Eats',
 'Ecco',
 'Ecco Buckhead',
 'Ecco Midtown',
 'Egg Harbor Cafe',
 'Eight Sushi Lounge',
 'El Azteca',
 'Eleventh Street Pub',
 'Empire State South',
 'Ferst Place',
 'Five Guys',
 'Flower Child (Westside Provisions)',
 'Folk Art Restaurant',
 'Food Terminal',
 'Fox Bros. Bar-B-Q',
 'Fox Bros. Bar-B-Q Westside',
 'Fritti',
 'Garbanzo',
 'Garbanzo Mediterranean Fresh',
 'Gather',
 'Gio’s Chicken Amalfitano',
 "Glenn's Kitchen",
 'Goodfellas Pizza & Wings',
 'Graffiti Breakfast',
 'Hard Rock Cafe',
 'Highland Bakery',
 'Highland Bakery Downtown GSU',
 'Hooters',
 "Houston's",
 'I-GUANNA BORDER GRILL',
 'IKEA Restaurant',
 'Irie Mon Cafe',
 "J. Christopher's",
 'J.R. Crickets Downtown',
 'JR Crickets North Decatur',
 'Jackmont Hospitality, Inc.',
 'Johnny Rockets',
 'Joy Cafe',
 'Juniper Cafe',
 "Jus D's Wings",
 'K & K Soul Food',
 'Knuckies Pizza & Hoagies of Midtown',
 'Krystal',
 "Kwan's Deli and Korean Kitchen",
 'La Fonda Latina',
 'Lazy Betty',
 'Le Fat',
 'Local Green Atlanta',
 'Local Green Atlanta - West Midtown',
 'Longleaf Restaurant',
 'Lucky Buddha',
 'Lucky China 8 Chinese Restaurant',
 'Lucky China Wings & Sub',
 'Mali Restaurant',
 "Mary Mac's Tea Room",
 'MattChews',
 "Max's Coal Oven Pizzeria",
 "McCormick & Schmick's Seafood & Steaks",
 "McDonald's",
 'Mellow Mushroom Atlanta - Buckhead',
 'Mellow Mushroom Atlanta - Downtown',
 'Mellow Mushroom Atlanta - Emory',
 'Mellow Mushroom Atlanta - Midtown',
 "Michael's Cafe",
 'Midtown Plaza Cafe',
 'Miller Union',
 "Moe's Original BBQ",
 "Moe's Southwest Grill",
 'Momonoki',
 "Morton's The Steakhouse",
 "Mr.V's Restaurant Equipment and Store Fixtures",
 "Mrs Winner's Chicken & Biscuits",
 "Mrs. Winner's Chicken & Biscuits-East Point",
 "Mrs. Winner's Chicken & Biscuits-Stockbridge",
 "Murphy's Restaurant",
 'NEXT Restaurant & Bar',
 'Nakato Japanese Restaurant',
 'Nan Thai Fine Dining',
 'Negril ATL',
 "Newk's Eatery",
 'No Mas! Cantina',
 'Nuevo Laredo Cantina',
 'Olympic Flame Restaurant',
 'Osteria 832 Pasta & Pizza',
 'Panda Express',
 "Papa John's Pizza",
 'Park Bar',
 "Paschal's",
 'Pasta Da Pulcinella',
 "Pittypat's Porch",
 "Poor Calvin's",
 'Popeyes Louisiana Kitchen',
 'Proscenium Cafe & Market',
 'QDOBA Mexican Eats',
 'R. Thomas Deluxe Grill',
 'RA Sushi Bar Restaurant',
 'Ration and Dram',
 "Ray's New York Pizza",
 'Republic Lounge',
 'Restaurant Depot',
 "Rosa's Pizza",
 'Rowdy Tiger Whiskey Bar & Kitchen',
 'STATS Brewpub',
 'Scoville Hot Chicken',
 'Silver Skillet',
 'Six Feet Under Pub & Fish House',
 'Slice Downtown',
 'Social Market & Cafe',
 'Sotto Sotto Restaurant',
 'Soul Good Fine Food',
 'Soul Vegetarian Restaurant',
 'Souper Jenny',
 'Souper Jenny Brookhaven',
 'Souper Jenny Westside',
 'South City Kitchen Midtown',
 "Sufi's Kitchen",
 'Suite Food Lounge',
 "Sum'thing Simple Cafe",
 'Sunlow Inc',
 'Surin of Thailand',
 'Sweet & Fresh',
 'Taco Bell',
 'Tannour Mediterranean Grill',
 'Taqueria Del Sol',
 'Taqueria on Broad',
 "Ted's Montana Grill",
 'The Beautiful Restaurant',
 'The Capital Grille',
 'The Consulate',
 'The Garden Room',
 'The Gathering Spot ATL',
 'The Melting Pot',
 'The Original J.R. Crickets in Midtown Atlanta',
 'The Painted Duck',
 'The Sun Dial Restaurant, Bar & View',
 'The Varsity',
 'The Works -- Upper Westside Atlanta',
 'There on Fifth',
 'Thrive',
 'Tin Drum Asian Kitchen & Boba Tea Bar - Georgia Tech',
 'Topgolf',
 'Trap Dog Wings & Burgers',
 'Tropical Smoothie Cafe',
 'Truva - Virginia Highland',
 'Truva Turkish Kitchen',
 'Tuk Tuk Thai Food Loft',
 'Tuza Taco',
 'Twelve Eighty',
 'Twisted Kitchen - Midtown',
 'Twisted Taco',
 'Waffle House',
 'Wagaya - Westside',
 'West Egg Cafe',
 'White Oak Kitchen & Cocktails',
 "Willy's Mexicana Grill",
 'Wisteria',
 'Yard House',
 'bartaco',
 'bp',
 'endive Publik house',
 'gusto! Ponce',
 'gusto! West Midtown',
 'ŌAK Atlanta']

In [146]:
restaurant_yelp.sort_values(["name"])["name"].to_list()

['Aerial Kitchen & Bar',
 'Alluvia',
 'Antico Pizza',
 'Auto Spa Bistro',
 'Aviva by Kameel Midtown',
 'Aziza',
 'Barcelona Westside Ironworks',
 'Blu Seafood House',
 'Bottega Luisa',
 'Brittain Dining Hall',
 'Brown Bag Seafood',
 'Burger King',
 'Cafe Adison',
 'Cafe West Express',
 'Caffe Antico',
 'Caffeine Atlanta',
 'Caffé Gio',
 'Canopy Court',
 'Capital Commons',
 'Carolyn’s Gourmet Cafe',
 'Cheba Hut Toasted Subs',
 'Chicago’s Very Own',
 'Chick-fil-A',
 'Chirori - Yakitori & Kushikatsu',
 'Choong Man Chicken - Georgia Tech',
 'Circle Poke',
 'Club Room',
 'Cluck N Mooh',
 'Conference Dining Room',
 'Cook Out',
 'Cooks & Soldiers',
 'Crazy Cuban',
 'DaVinci’s Pizzeria',
 'Domino’s Pizza',
 'Dos Amigos',
 'DramaTech Concessions',
 'E Ramen +',
 'Eight Sushi Lounge',
 'El Burro Pollo',
 'Eleventh Street Pub',
 'Falafel Nation',
 'Farm Burger - Midtown Atlanta',
 'Fava Mezze',
 'Firehouse Subs',
 'First Restaurant',
 'Flower Child - Atlanta',
 'Food Terminal - Atlanta',
 'Forza Storico',
 'Freddie’s Bananas',
 'Genji',
 'Georgia Cafe',
 'Gio’s Chicken Amalfitano',
 'Gio’s Sicilian Pizza Shop',
 'Goodfellas Pizza & Wings',
 'Goodfellas Pizza and Wings',
 'Gyro Bros',
 'HB Food Anatomy',
 'IKEA Restaurant',
 'J. Christopher’s',
 'JCT Kitchen & Bar',
 'Jimmy John’s',
 'Jimmy’s',
 'King Crab Atl',
 'Krystal',
 'La Fonda Latina',
 'Le Fat',
 'Lil Dino Subs',
 'Little Italy Atlanta',
 'Little Trouble',
 'LiveWire Coffee',
 'LowCountry Steak',
 'Lucky Buddha',
 'Maple Street Biscuit Company',
 'Marcel',
 'Marlow’s Tavern',
 'McCray’s Tavern Midtown',
 'McDonald’s',
 'Michael’s Cafe',
 'Midcity Cafe',
 'Moe’s Original Bar B Que',
 'Moe’s Southwest Grill',
 'Momo Cafe',
 'Momonoki',
 'Mushi Ni',
 'Nagomiya',
 'North Ave Dining Hall',
 'Nova Sushi Bar & Asian Bistro II',
 'O-Ku Sushi',
 'Oddbird',
 'Olive',
 'Omakase By Yun',
 'Ormsbys',
 'Panda Express',
 'Panera Bread',
 'Papa John’s Pizza',
 'Park 27',
 'Pho King',
 'Pijiu Belly',
 'Pita Pit',
 'Pizza Hut',
 'Poke Burri CODA',
 'Poppin Pita Grill',
 'Puttshack at The Interlock',
 'QDOBA Mexican Eats',
 'Quiktrip',
 'Ray’s New York Pizza',
 'Ray’s Pizza Express',
 'Redbird',
 'Reverence',
 'Rising Roll Gourmet Café - Midtown',
 'Rock Steady - Atlanta',
 'Rocky Mountain Pizza',
 'Rowdy Tiger Whiskey Bar & Kitchen',
 'Saint Germain Bakery',
 'Sarpino’s Pizzeria',
 'Satto Thai & Sushi Bar',
 'Sigma Alpha Epsilon',
 'Six Feet Under Pub & Fish House- Westside',
 'Slim & Husky’s Pizza Beeria',
 'Snooze, an A.M. Eatery',
 'Spice House',
 'Spice House Midtown',
 'Star of India',
 'Steamhouse Lounge',
 'Sublime Doughnuts',
 'Subway',
 'Sweet & Fresh',
 'TGM Soup',
 'Taco Bell',
 'Tannour Mediterranean Grill',
 'TastyBus',
 'The Collective Food Hall at Coda',
 'The Garden Grille and Bar',
 'The Halal Guys',
 'The Krystal Company',
 'The Optimist',
 'The Silver Skillet',
 'The Varsity',
 'There on Fifth',
 'Thumbs Up Diner',
 'Tiff’s Treats',
 'Tiny Bistro - Temp. CLOSED',
 'Touch',
 'Tropical Smoothie Cafe',
 'Tropicale',
 'Turner Station Break',
 'Twisted Kitchen',
 'Twisted Taco',
 'Umma’s House Restaurant & Cafe',
 'Upbeet',
 'Velvet Taco',
 'Vietvana Pho Noodle House - Atlanta',
 'Waffle House',
 'Wagaya - Westside',
 'West Egg Café',
 'West Village',
 'Wild Bean Cafe',
 'Wildleaf',
 'Wingnuts',
 'Yalla',
 'bartaco']

In [147]:
df_restaurant = pd.DataFrame(
    (restaurant_yelp["name"].append(restaurant_google["name"]).drop_duplicates())
)
df_restaurant.insert(0, "id", range(1, 1 + len(df_restaurant)))

# df_restaurant = df_restaurant.reset_index()
# df_restaurant.index
# df_restaurant = pd.DataFrame(
#     {"name": df_restaurant.to_list(), "id": df_restaurant.index.to_list()}
# )
df_restaurant.to_csv("restaurants.csv", index=False)
df_restaurant

      id                           name
0      1           Aerial Kitchen & Bar
1      2                        Alluvia
2      3                   Antico Pizza
3      4                Auto Spa Bistro
4      5        Aviva by Kameel Midtown
..   ...                            ...
88   336  White Oak Kitchen & Cocktails
121  337         Willy's Mexicana Grill
8    338                       Wisteria
102  339                     Yard House
108  340                    ŌAK Atlanta

[340 rows x 2 columns]

In [148]:
restaurant_google["source"] = "google"
restaurant_yelp["yelp"] = "yelp"

<ipython-input-148-2088108b646e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_google["source"] = "google"

In [165]:
restaurant_google_to_import = pd.merge(restaurant_google, df_restaurant, on=["name"])
restaurant_google_to_import.rename(columns={"id": "restaurant_id"}, inplace=True)
restaurant_google_to_import = restaurant_google_to_import[
    ["restaurant_id", "restauran_type", "rating", "reviews", "price", "source"]
]
restaurant_google_to_import["reviews"] = restaurant_google_to_import["reviews"].astype(
    "Int32"
)

In [166]:
restaurant_google_to_import.to_csv("restaurant_google_to_import.csv", index=False)
restaurant_google_to_import

     restaurant_id            restauran_type  rating  reviews price  source
0              162                Restaurant     4.6       50   NaN  google
1              163         Indian restaurant     4.3     1050    $$  google
2              164       Eclectic restaurant     4.5     1885    $$  google
3              165        Turkish restaurant     4.3      129   NaN  google
4              166  Chicken wings restaurant     3.9      239     $  google
..             ...                       ...     ...      ...   ...     ...
202            336       American restaurant     4.3      967   $$$  google
203            337        Tex-Mex restaurant     4.5      765     $  google
204            338  Southern restaurant (US)     4.5      462   $$$  google
205            339   New American restaurant     4.0     3559    $$  google
206            340                Restaurant     4.0      515    $$  google

[207 rows x 6 columns]

In [169]:
restaurant_yelp_to_import = pd.merge(restaurant_yelp, df_restaurant, on=["name"])
restaurant_yelp_to_import.rename(columns={"id": "restaurant_id"}, inplace=True)
restaurant_yelp_to_import["source"] = "yelp"
restaurant_yelp_to_import = restaurant_yelp_to_import[
    ["restaurant_id", "restauran_type", "rating", "reviews", "price", "source"]
]
restaurant_yelp_to_import["reviews"] = restaurant_yelp_to_import["reviews"].astype(
    "Int32"
)
restaurant_yelp_to_import.to_csv("restaurant_yelp_to_import.csv", index=False)

restaurant_yelp_to_import

,restaurant_id,restauran_type,rating,reviews,price,source
0,1,"['Bars', 'American (Traditional)']",NaN,<NA>,NaN,yelp
1,2,"['Steakhouses', 'Mexican']",4.0,6,NaN,yelp
2,3,['Pizza'],4.0,3216,NaN,yelp
3,4,"['American (New)', 'Car Wash']",3.0,127,NaN,yelp
4,5,"['Mediterranean', 'Middle Eastern']",5.0,40,NaN,yelp
...,...,...,...,...,...,...
156,157,['Food Court'],NaN,<NA>,NaN,yelp
157,158,['Cafes'],NaN,<NA>,NaN,yelp
158,159,"['Salad', 'Sandwiches', 'Soup']",4.5,3,NaN,yelp
159,160,"['Chicken Wings', 'Wraps', 'Sandwiches']",3.0,120,$,yelp
160,161,['Middle Eastern'],3.0,6,NaN,yelp